<h2><%= @alumno.primer_nombre.capitalize %> <%= @alumno.segundo_nombre.capitalize %>, Feliz Cumpleaños!</h1>
<h4>Te deseamos lo mejor en tu dia</h4>
<p>En este dia especial, Brazada desea regalarte un 5% de descuento en el pago de este mes</p>
