<h2><%= @alumno.primer_nombre.capitalize %> <%= @alumno.segundo_nombre.capitalize %>, llevas <%= @tiempo %> <% temp = 'año' %> <%= @tiempo > 1 ?  temp.pluralize : temp %> con nosotros!</h2>
<h4>Te agradecemos tu compañia y confianza</h4>
<p>En este dia especial, Brazada desea regalarte un 5% de descuento en el pago de este mes</p>
  
