@import 'materialize';
@import 'forms';
@import 'home';
@import 'navbar';
@import 'logos-botones';
@import 'fonts';
@import 'botones';
@import 'dashboard';
@import 'pictures';
@import 'contacto';
@import 'alumnos';
@import 'main';
@import 'main-nav';
@import 'main-info';
@import 'horarios';
@import 'ubicacion-nosotros';
@import 'admin-cards';
@import 'tarifas';

html {
  // equivalencia 1rem
  font-size: 14px;
}
// iphone 3 & 4
@media only screen and (max-width: 380px){
  html {
    font-size: 8px;
  }
}
// materialize small
@media only screen and (min-width: 381px) and (max-width: 600px) {
  html {
    font-size: 10px;
  }
}
// materialize medium
@media all and (min-width: 600px) and (max-width: 992px) {
  html {
    font-size: 12px;
  }
}


@media only screen and (max-width: 600px) and (orientation:landscape){
  #the-app {
    // height: 100vw;
    // -webkit-transform: rotate(90deg);
    // -moz-transform: rotate(90deg);
    // -o-transform: rotate(90deg);
    // -ms-transform: rotate(90deg);
    // transform: rotate(90deg);
  }
}

@media only screen and (orientation:portrait){
  #the-app {
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
  }
}


// FONTS
p {
  font-size: 16px;
  font-weight: 300;
}
h4 {
  font-size: 20px;
  font-weight: 200;
}
h5 {
  font-size: 18px;
  font-weight: 300;
}
h6 {
  font-size: 16px;
  font-weight: 300;
}

@media all and (max-width: 380px) {
  p {
    font-size: 14px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 15px;
  }
  h6 {
    font-size: 14px;
  }
}

@media all and (min-width: 381px) and (max-width:  600px) {
  p {
    font-size: 16px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
}
