// large
nav {
  // background-color: #16959e;
  background-color: #00afdb;
  height: 8rem;
  border-bottom: 2px solid #fff;
}

nav ul a {
  padding-top: 1rem;
  height: 8rem;
  font-weight: 200;
  letter-spacing: 1px;
}
nav ul a:hover {
  color: #18214c;
  font-weight: 300;
}

.nav-icon {
  width: 8rem;
}
nav ul .nav-icon:hover {
  // background-color: red;
  // background-color: none;
  // background: rgba(255,255,255,0.5);
}
#nav-mobile {
  width: 88rem;
  line-height: 2rem;
}
.drag-target {
  height: 0 !important;
}
// excepcion rara
@media all and (min-width: 992px) and (max-width: 1100px) {
  .nav-icon {
    width: 6rem !important;
  }

  #nav-mobile {
    width: 66rem !important;
    line-height: 2rem;
  }
}

// side nav flat
.side-nav {
  width: 100%;
  margin-top: 5rem;
  display: inline-flex;
  background-color: #0B74A6;
}
.side-but {
  height: calc((100vh - 8rem) / 10) !important;
}
.side-but i {
  width: 40% !important;
  background-size: calc((100vh - 8rem) / 10) !important;
  height: calc((100vh - 8rem) / 10) !important;
}
.side-but a {
  color: #fff;
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 8rem;
  text-transform: lowercase;
  width: 100%;
  height: calc((100vh - 8rem) / 10) !important;
  // height: 9.5vh !important;
  text-align: left;
}

.side-but a:hover {
  background-color: #18214c;
  color: #fcbf00;
}

//side nav options
nav .row .col {
  padding: 0 !important;
}

#sidenav-overlay {
  z-index: -10;
}

.clicked {
  background-color: #fcbf00;
}

.iphone .side-nav {
  height: 100vh;
}

// materialize medium
@media all and (min-width: 600px) and (max-width: 992px) {
  nav {
    height: 5rem;
  }
  nav ul a {
    // height: 5rem;
  }
  .side-but a {
    font-size: 2.4rem !important;
  }
}

// materialize small
@media only screen and (min-width: 351px) and (max-width: 600px) {
  nav {
    height: 5rem;
  }
  .side-but a {
    font-size: 2.5rem;
    line-height: 6rem;
  }

}
@media only screen and (max-width: 350px) {
  nav {
    height: 5rem;
  }
  .side-but a {
    font-size: 2rem;
    line-height: 4rem;
  }

}
