// picture for all
.libre-pic {
  background-image: url(asset_path("nino.jpg"));
}
.bebes-pic {
  background-image: url(asset_path("bebes.jpg"));
}
.ninos-pic {
  background-image: url(asset_path("nino.jpg"));
}
.jovenes-pic {
  background-image: url(asset_path("jovenes.jpg"));
}
.adultos-pic {
  background-image: url(asset_path("nino.jpg"));
}
.master-pic {
  background-image: url(asset_path("master.jpg"));
}
.spinning-pic {
  background-image: url(asset_path("spinning.jpg"));
}
.circuito-pic {
  background-image: url(asset_path("circuito.jpg"));
}
.resortes-pic {
  background-image: url(asset_path("resortes.jpg"));
}
.core-pic {
  background-image: url(asset_path("nino.jpg"));
}
.tono-pic {
  background-image: url(asset_path("tono.jpg"));
}
.RTG-pic {
  background-image: url(asset_path("rtg.jpg"));
}
.hidrogimnasia-pic {
  background-image: url(asset_path("hidro.jpg"));
}
.especial-pic {
  background-image: url(asset_path("hidro_especial.jpg"));
}
.mayor-pic {
  background-image: url(asset_path("hidro_adulto_mayor.jpg"));
}
.pilates-pic {
  background-image: url(asset_path("yoga_pilates.jpg"));
}
.reformer-pic {
  background-image: url(asset_path("reformer.jpg"));
}
.yoga-pic {
  background-image: url(asset_path("yoga_2.jpg"));
}
.corporal-pic {
  background-image: url(asset_path("balance.jpg"));
}
.rumba-pic {
  background-image: url(asset_path("rumba.jpg"));
}
.masajes-pic {
  background-image: url(asset_path("masajes.jpg"));
}
.stretching-pic {
  background-image: url(asset_path("stretching.jpg"));
}
