.btn {
  box-shadow: none !important;
  border: 2px solid #18214c;
  letter-spacing: 2px;
  font-weight: 200;
  border-radius: 10px;
}

.btn-main {
  background-color: #16959e;
  color: #fdfffd;
}

.btn-sec {
  background-color: #fdfffd;
  color: #18214c;
}

.btn:hover {
  background-color: #18214c;
  color: #fdfffd;
}

.btn-portada {
  width: 35%;
  height: 6rem;
  border-radius: 3rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 2rem;
  color: #18214c;
}

.btn-delete {
  cursor: pointer;
}
