.btn {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #18214c;
  letter-spacing: 2px;
  font-weight: 200;
  border-radius: 10px;
  line-height: 0;
  background-color: #00afdb;
}

.btn-main {
  background-color: #00afdb !important;
  color: #fdfffd !important;
}

.btn-resp {
  margin-left: 2rem;
}

.btn:hover {
  background-color: #18214c;
  color: #fdfffd;
}

.btn-clicked {
  background-color: #18214c !important;
  color: #fdfffd !important;
}

.btn-portada {
  width: 25%;
  height: 6rem;
  border-radius: 3rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 2rem;
  font-weight: 300;
  color: #18214c;
}

.btn-icon {
  cursor: pointer;
  color: #161616;
}
.btn-delete:hover {
  color: red;
}
.btn-mail:hover {
  color: #16959e;
}
.btn-opt {
  font-size: 1.4rem;
  color: #18214c;
  letter-spacing: 2px;
  font-weight: 300;
  text-align: center;
  background-color: #fff;
  border: 1px solid #18214c;
  border-radius: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.btn-opt:hover {
  background-color: #18214c;
  color: #fff;
}
.iphone .btn-opt {

}
@media all and (max-width: 992px) {
  .btn-main, .btn-sec {
    font-size: 1.4rem;
  }
}
