.admin-title {
  width: 100%;
  display: inline-flex;
  padding: 2rem 3rem;
}

.admin-title h1 {
  margin-right: 5rem;
  color: #16959e;
}

.admin-title span {
  margin: 1.8rem 0 1.68rem 0;
  color: #fcbf00;
  cursor: pointer;
}

.card-content {
  height: 15rem;
  overflow-y: scroll;
}
.card-action i {
  cursor: pointer;
  margin-right: 2rem;
}

.card-action i:hover {
  color: #fcbf00;
}
