// ADMIN FULL BODY
.admin-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

// ADMIN CONTENT MAIN PARENT
.admin-content {
  height: calc(100vh - 8rem);
  width: 80%;
  background-color: #fff;
  overflow-y: scroll;
}

// ASIDE MAIN PARENT
.dashboard {
  height: calc(100vh - 8rem);
  width: 20%;
  background-color: #fff;
  padding: 2rem;
}

// flex parent
.dash-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50vh;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

// flex children
.dash-buttons .btn {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

// materialize medium
@media all and (min-width: 600px) and (max-width: 992px) {
  .admin-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 !important;
  }
  .dashboard {
    min-height: 5rem;
    max-height: 10rem;
    width: 100%;
  }
  .dash-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 5rem;
  }
}

// materialize small
@media only screen and (max-width: 600px) {
  .admin-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dashboard {
    min-height: 5rem;
    max-height: 10rem;
    width: 100%;
  }
  .dash-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 5rem;
  }
}
