input {
  margin-bottom: 3rem !important;
  border-bottom: 3px solid #16959e !important;
  padding-left: 1rem !important;
  font-size: 1.3rem !important;
  font-weight: 200 !important;
  color: #161616 !important;
}

input[type=email] {
  height: 4rem;
}

input[type=password] {
  height: 4rem;
}

.secret-code {
  height: 4rem;
  margin-top: 2rem !important;
  border-bottom: 3px solid #fcbf00 !important;
}

input:focus {
  border-bottom: 3px solid #fcbf00 !important;
  box-shadow: none !important;
}

textarea {
  height: 20vh;
  width: 100%;
  margin: 2rem 0 4rem 0;
  padding: 2rem 1rem;
  border: 3px solid #16959e !important;
  border-radius: 8px;
  font-size: 1.3rem !important;
  font-weight: 200 !important;
  color: #161616 !important;
}

textarea:focus {
  border-bottom: 3px solid #fcbf00 !important;
  box-shadow: none !important;
}

.contacto .btn {
  float: right;
}

@media all and (min-width: 600px) and (max-width: 992px) {
  textarea {
    height: 35vh;
  }
}
@media all and (max-width: 559px) {
  textarea {
    height: 40vh;
  }
}
