// space divider
hr {
  border-bottom: 4px solid #16959e;
}

// Portada

.portada {
  background-color: #18214c;
  text-align: center;
  background-image: url(asset_path("fondo_menu_01.png"));
  background-repeat: no-repeat;
  background-position: 30% 70%;
  background-size: cover;
  height: 90vh;
  padding-top: 8vh;
}

.portada h6 {
  font-size: 1.6rem;
  color: #fdfffd;
}

#main-phrase {
  width: 100%;
  color: #fdfffd;
  font-weight: 100;
  line-height: 220%;
}

.logo {
  margin: 3rem auto;
}

.btn-portada {
  margin-top: 2rem;
  padding: 1.6rem !important;
}

footer {
  // background-color: #fcbf00;
  background-image: url(asset_path("footer.svg"));
  // background-repeat: no-repeat;
  background-size: cover;
  // background-position: center;
  width: 100%;
  height: 20vh;
  margin-top: -20vh;
  padding: 3rem 3rem 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  // padding-top: 10vh;
}

.foot-text {
  font-size: 1.3rem;
  margin: 1rem auto;
  font-weight: 100;
}
.foot-stuff {
  margin-top: 3rem;
}

// Cometarios y experiencias

.experiencias {
  // height: 350px;
  background-color: #fdfffd;
  padding: 6rem;
}

.experiencias blockquote {
  text-align: center;
  color: #161616;
  font-size: 2rem;
  line-height: 180%;
  padding-left: none !important;
  border-left: none !important;
  border-bottom: 4px solid #00afdb;
  padding-bottom: 6rem;
}

// Portada Tercera Parte

.portada-tres {
  height: 350px;
  background-color: #fdfffd;
  padding: 4rem;
}
.programas {
  padding: 0 3rem !important;
}
.portada-tres p {
  font-size: 1.8rem;
  font-weight: 100;
  text-align: justify;
}
.portada-tres h4 {
  font-weight: 400;
  text-align: center;
}
.portada-tres .btn-portada {
  margin: 4rem 0;
}

// Portada Cuarta Parte
.portada-cuatro {
  text-align: center;
  margin: 4rem 0;
}

// Portada Quinta Parte
.portada-cinco {
  height: 450px;
  background-image: url(asset_path("felices.jpg"));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portada-cinco h4 {
  color: #fff;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 3px;
}
.portada-cinco em {
  font-weight: 300;
}
// Portada Sexta Parte
.portada-seis {
  height: 450px;
  background-image: url(asset_path("noche.JPG"));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 2rem;
}
// Portada Septima Parte
.portada-siete {
  height: 450px;
  background-image: url(asset_path("yoga.jpg"));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 2rem;
}
// =================================
// CellPhone Styling
// =================================


// materialize medium
@media all and (min-width: 600px) and (max-width: 992px) {
  .portada {
    height: 95vh;
  }
  .btn-portada {
    padding: 1.5rem !important;
    width: 45% !important;
  }
  .logo {
    margin: 4rem auto;
  }
  footer {
    height: 15vh;
    margin-top: -15vh;
    padding-top: 7.5vh;
  }
  .foot-text {
    font-weight: 200;
  }
  //portada dos
  .experiencias {
    height: 300px;
    padding: 4rem;
  }
  //portada tres
  .programas {
    margin: 3rem 0;
  }
  .portada-tres p {
    font-size: 1.5rem;
  }
}
// materialize small
@media only screen and (max-width: 600px) {
  .portada {
    height: 100vh;
  }
  #main-phrase {
    font-size: 1.8rem;
    line-height: 120%;
  }
  .btn-portada {
    margin-top: 6rem !important;
    padding: 1rem !important;
    width: 60% !important;
  }
  footer {
    height: 10vh;
    margin-top: -10vh;
    padding-top: 5vh;
  }
  .foot-text {
    font-weight: 400;
  }
  .foot-stuff {
    margin-top: 0;
  }
  //comentarios y experiencias
  .experiencias {
    height: none;
    padding: 3rem;
  }
  .experiencias blockquote {
    padding-bottom: 0 !important;
    border-bottom: 2px solid #00afdb;
  }
  //portada tres

  .portada-tres {
    height: 350px;
    background-color: #fdfffd;
    padding: 0 4rem;
  }
  .programas {
    margin: 3rem 0;
  }
  .portada-tres p {
    font-size: 16px;
  }
  .portada-cinco, .portada-seis, .portada-siete {
    background-size: contain;
    height: 300px;
  }
}

//iphone 3, 4 y 5
@media only screen and (max-width: 350px) {
  .btn-portada {
    height: 4rem !important;
    border-radius: 2rem !important;
    border: 1px solid #18214c !important;
    margin-top: 1rem !important;
    padding: 0.2rem !important;
    font-size: 1.4rem !important;
  }
  .experiencias {
    padding: 1rem;
    height: none !important;
  }
  .foot-text {
    margin-bottom: 3rem;
  }
  .portada-cinco, .portada-seis, .portada-siete {
    height: 250px;
  }

}
