// space divider
hr {
  border-bottom: 4px solid #16959e;
}

// Portada

.portada {
  background-color: #18214c;
  // background-color: #fff;
  background-image: url(asset_path("fondo_menu_01.png"));
  background-repeat: no-repeat;
  background-position: 30% 70%;
  background-size: cover;
  height: 90vh;
  padding-top: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  // border-bottom: 4px solid #00afdb;
}


#main-phrase {
  width: 90%;
  color: #fdfffd;
  // color: #18214c;
  font-size: 28px;
  font-weight: 100;
  line-height: 220%;
  letter-spacing: 1px;
}
.logo {
  margin: 3rem auto;
}
.portada h6 {
  font-size: 22px;
  color: #18214c;
}
.btn-portada {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}
// Footer
footer {
  width: 100%;
  height: 20vh;
  margin-top: -20vh;
  padding-top: 11vh;
}
footer span {
  height: 7vh;
  // background-color: rgba(255,255,255,0.6);
  background-color: rgba(0,175,219,0.6);
  // border: 1px solid #18214c;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 6%;
  margin-right: 6%;
}
.foot-text {
  font-size: 1.3rem;
  // align-self: flex-end;
  margin: 0;
  font-weight: 400;
  text-align: right;
  letter-spacing: 1px;
  color: #18214c;
  padding: 0.5rem;
  width: 100%;
}

// Cometarios y experiencias

.experiencias {
  // height: 350px;
  background-color: #fdfffd;
  padding: 1rem 6rem;
}

.experiencias blockquote {
  text-align: center;
  color: #161616;
  font-size: 2rem;
  line-height: 180%;
  padding-left: none !important;
  border-left: none !important;
  border-bottom: 4px solid #00afdb;
  padding-bottom: 4rem;
}

// Portada Tercera Parte

.portada-tres {
  background-color: #fdfffd;
  padding: 1rem 4rem;
}
.programas {
  padding: 0 3rem !important;
}
.portada-tres p {
  font-size: 1.8rem;
  font-weight: 100;
  text-align: justify;
}
.portada-tres h4 {
  font-weight: 400;
  text-align: center;
}
.portada-tres .btn-portada {
  margin: 4rem 0;
}

// Portada Cuarta Parte
.portada-cuatro {
  min-height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4rem 0;
}
.portada-cuatro .btn-portada {
  margin-top: 0;
}
// Portada Quinta Parte
.portada-cinco {
  height: 70vh;
  background-image: url(asset_path("felices.jpg"));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portada-cinco h4 {
  color: #fff;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 3px;
}
.portada-cinco em {
  font-weight: 300;
}
// Portada Sexta Parte
.portada-seis {
  height: 70vh;
  background-image: url(asset_path("noche.png"));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 2rem;
}
// Portada Septima Parte
.portada-siete {
  height: 70vh;
  background-image: url(asset_path("yoga.jpg"));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 2rem;
}
// =================================
// CellPhone Styling
// =================================

@media all and (max-width: 992px) {
  .portada {
    height: 90vh;
    background-position: 0%;
  }
  .iphone .portada {
    height: 80vh;
  }
  #main-phrase {
    line-height: 140% !important;
    letter-spacing: 0;
  }
  .portada h6 {
    line-height: 140% !important;
  }
  footer {
    -ms-flex-line-pack: center;
        align-content: center;
    padding-top: 3vh;
  }
  footer span {
    border-radius: 0.5rem;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .foot-text {
    font-size: 1.5rem;
    font-weight: 200;
    text-align: right;
    letter-spacing: 0;
    padding: 0.5rem;
    margin-bottom: 0;
  }
  .programas {
    padding: 0 2rem !important;
    margin-top: 1rem !important;
    border-bottom: 1px dashed rgba(0,0,0,0.1);
    // border-bottom: 1px dashed rgba(0,175,219,0.1);
  }
  .portada-tres {
    margin-bottom: 0 !important;
  }
  .portada-tres .programas {
    margin: 0;
    border-bottom: none;
  }
}
// materialize medium
@media all and (min-width: 600px) and (max-width: 992px) {

  #main-phrase {
    font-size: 26px;
    line-height: 120%;
  }
  .btn-portada {
    padding: 1.5rem !important;
    width: 45% !important;
    // border: 2px solid #18214c;
  }
  .logo {
    margin: 4rem auto;
  }
  footer {
    height: 15vh;
    margin-top: -15vh;
    // padding-top: 7.5vh;
  }
  .foot-text {
    font-weight: 200;
  }
  //portada dos
  .experiencias {
    height: 300px;
    padding: 4rem;
  }
  //portada tres
  .programas {
    margin: 3rem 0;
  }
  .portada-tres p {
    font-size: 1.5rem;
  }
}
// materialize small
@media only screen and (max-width: 600px) {
  .portada {
    padding-top: 6vh;
  }
  #main-phrase {
    width: 100%;
    margin-top: 5vh;
    font-size: 26px;
    line-height: 120%;
    font-weight: 300;
    letter-spacing: 1px;
    background-color: rgba(0,175,219,0.6);
    padding: 2rem;
  }
  .btn-portada {
    padding: 1rem !important;
    width: 60% !important;
    // border: 1px solid #18214c !important;
  }
  .portada .btn {
    border: none !important;
  }
  .logo {
    background-size: 14vh !important;
    height: 14vh !important;
    margin: 4rem  auto;
  }
  .portada h6 {
    font-size: 18px;
  }
  footer {
    height: 12vh;
    margin-top: -12vh;
  }
  .foot-text {
    font-weight: 300;
    font-size: 1.4rem;
  }
  //comentarios y experiencias
  .experiencias {
    height: none;
    padding: 3rem;
  }
  .experiencias blockquote {
    padding-bottom: 2rem !important;
    border-bottom: 2px solid #00afdb;
  }
  //portada tres

  .portada-tres {
    background-color: #fdfffd;
    padding: 0 4rem;
  }
  .programas {
    margin: 3rem 0;
  }
  .portada-tres p {
    font-size: 16px;
  }
  .portada-cinco, .portada-seis, .portada-siete {
    background-size: contain;
    height: 300px;
  }
}

//iphone 3, 4 y 5
@media only screen and (max-width: 350px) {
  #main-phrase {
    font-size: 18px;
  }
  .logo {
    margin: 3rem auto;
  }
  .portada h6 {
    font-size: 16px;
  }
  .btn-portada {
    height: 4rem !important;
    border-radius: 2rem !important;
    // border: 1px solid #18214c !important;
    margin-top: 4rem !important;
    padding: 0.2rem !important;
    font-size: 1.4rem !important;
  }
  footer {
    padding-top: 4vh;
  }
  footer span {
    // height: 9vh;
  }
  .experiencias {
    padding: 1rem;
    height: none !important;
  }
  .foot-text {
    // margin-bottom: 3rem;
  }
  .portada-cinco, .portada-seis, .portada-siete {
    height: 250px;
  }

}
// tested good so
@media screen and (max-height: 380px) {
  .portada {
    height: 75vh;
  }
  .iphone .portada {
    height: 75vh;
  }
  #main-phrase {
    margin-top: 4vh;
  }
  .logo {
    background-size: 16vh !important;
    width: 60% !important;
    height: 14vh !important;
    margin: 3rem auto !important;
  }
  .portada h6 {
    font-size: 15px;
  }
  .btn-portada {
    margin-top: 1rem !important;
  }
  .foot-text {
    // margin-top: 5px;
  }
  footer span {
    height: 9vh !important;
  }
}
@media screen and (min-width: 760px) and (max-width: 2048px) and (orientation: portrait) {
  .foot-text {
    font-size: 18px;
  }
}
