.horarios-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}
.horarios-container .gricecito {
  background-color: rgba(0,175,219,0.1);
}
tbody td {
  border-left: 1px solid rgba(0,175,219,0.1);
  border-right: 1px solid rgba(0,175,219,0.1);
}
tbody td:first-child {
  border-left: none;
  border-right: none;
}
tbody td:first-child strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  // align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  // text-align: center;
}
tbody td:last-child {
  border-left: none;
  border-right: none;
}

// EL ENCABEZADO
.horario-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.horario-header .horario-header-titulo {
  -webkit-box-flex: 3;
      -ms-flex: 3 3 70%;
          flex: 3 3 70%;
  text-align: right;
}
.horario-header-titulo h2 {
  margin: 1rem;
}
.horario-header-titulo strong {
  color: #00afdb;
  font-weight: 200;
}
// calendar picker
.horario-options {
  background-color: #fff;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}
.horario-options .selecter {
  -webkit-box-flex: 5;
      -ms-flex: 5 5 80%;
          flex: 5 5 80%;
}
.horario-options .calendar-submit {
  background-color: #00afdb;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-box-shadow: -3px 0 3px rgba(0,0,0,0.3);
          box-shadow: -3px 0 3px rgba(0,0,0,0.3);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.calendar-submit span {
  font-weight: 400;
  margin: auto 0.5rem;
}
.calendar-submit:hover {
  background-color: #18214c;
  color: #fff;
  font-weight: 300;
}
// event creator
.modulus-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  margin: 1rem;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}
.ingresa-curso {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 120px;
          flex: 1 1 120px;
  background-color: #00afdb;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.ingresa-curso span {
  font-weight: 400;
  margin: auto 0.5rem;
}
.ingresa-curso:hover {
  background-color: #18214c;
  color: #fff;
  font-weight: 300;
}

.inputer-curso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.selecter {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 120px;
          flex: 1 1 120px;
  margin: auto 0.5rem;
}
.esta-hora {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0.3rem;
}
.inputer-curso i {
  font-size: 1.8rem;
  margin: 0.3rem;
}

// LA TABLA COMPLETA
thead {
  background-color: #18214c;
  background: -webkit-gradient(linear, left top, left bottom, from(#49708f), to(#18214c));
  background: linear-gradient(#49708f, #18214c);
  color: #fff;
}
th {
  text-align: center;
  font-weight: 200;
  border-radius: 0;
  border-left: 1px solid #fff;
}
th:last-child {
  border-top-right-radius: 8px;
}
th:first-child {
  border-top-left-radius: 8px;
  border-left: none;
}
td {
  height: 4.5rem;
  border-bottom: 1px solid #18214c;
  margin: 0;
  padding: 0;
}
.horarios-body td {
  vertical-align: super;
}

// HORARIO (unidad)

.horario-container {
  width: 100%;
  background-color: #fff;
  border: 1px solid #00afdb;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 !important;
}
.horario-container i {
  cursor: pointer;
}
.horario-container i:hover {
  color: red;
}
.event-time {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  height: 100%;
  background-color: #00afdb;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 3px 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 0 3px rgba(0, 0, 0, 0.3);
}
.event-time p {
  font-size: .8rem;
  margin: 0;
}
.event-info {
  -webkit-box-flex: 3;
      -ms-flex: 3 3 70%;
          flex: 3 3 70%;
  padding: 0 8px;
}
.event-info p {
  font-size: 1rem;
  margin: 0;
}
.event-info-treinta {
  display: none;
}

.horarios-client .horario-container i {
  display: none;
}

// minutos (posicionamiento en la celda)
.min0 {
  position: relative;
  top: 0 !important;
}
.min10 {
  position: relative;
  top: calc(4.5rem / 6);
}
.min30 {
  position: relative;
  top: calc(4.5rem / 2);
}
.min45 {
  position: relative;
  top: calc((4.5rem / 4) * 3);
}

// duracion de la clase
.duracion10 {
  height: 50%;
}
.duracion30 {
  height: 50%;
}
.duracion45 {
  height: 75%;
}
.duracion60 {
  height: 100%;
}

//=================
//  CELLPHONE & TABLETS!!!
//=================
.main-horario-cel {
  display: none;
}

.horario-cel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px dashed #00afdb;
}
.horario-cel span:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}
.horario-cel span {
  -webkit-box-flex: 5;
      -ms-flex: 5 5 50%;
          flex: 5 5 50%;
}
.horario-block h3 {
  color: #00afdb;
}

@media all and (max-width: 601px) {
  .main-horario-cel {
    display: block;
  }
  .main-horario-pc {
    display: none;
  }
  .horario-header {
    // display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .main-horarios {
    // height: 55vh !important;
  }
}

@media all and (max-width: 992px) {
  .main-horarios {
    width: 100%;
  }
  .horarios-container {
    padding-top: 0;
    height: calc(100vh - 4.5rem);
  }
  .horario-header-titulo h2 {
    margin: 3rem 0 1rem 0;
  }
  a.button-collapse {
      height: 0 !important;
      line-height: 0 !important;
  }
}
@media all and (min-width: 601px) {
  a.button-collapse {
      height: 0 !important;
      line-height: 0 !important;
  }
}
