.main-container {
  padding: 1rem !important;
  height: calc(100vh - 8rem);
}
// main titulo
.main-titulo {
  background-color: red;
  margin: 0 !important;
  height: 4rem;
  font-size: 2rem;
  color: #ccc;
  padding: 0 !important;
  line-height: -100%;
}

// main nav
.main-nav {
  margin: 2rem auto;
  background-color: blue;
}

// main content


// main description


// main pic

// main buttons
