// MAIN INFO (DESCRIPTION)

// informacion general
div .main-info {
  -webkit-box-flex: 4;
      -ms-flex: 4 4 calc(40% - 2rem);
          flex: 4 4 calc(40% - 2rem);
}

.main-info {
  height: 50vh;
  border-top: 2px solid #00afdb;
  border-bottom: 2px solid #00afdb;
  // padding: 1rem 0;
  margin: 0 2rem;
  overflow-y: scroll;
  // display: flex;
  // flex-direction: column;
}

.main-info::-webkit-scrollbar {
  display: none;
}

.main-info p {
  margin: 0.5rem 0;
}

// main-info tarifas
// (look in tarifas.scss)

// main info profesors
.main-info .profes-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 1px dashed rgba(0,0,0,0.3);
  margin: 0.6rem 0;
}

.main-info .profes-info:last-child {
  border-bottom: none;
}
.profes-info p:first-child {
  margin-left: 3rem;
  margin-right: 5px;
}
.profes-info p:last-child {
  // margin-right: 4rem;
}


// main info horarios
.main-info .horarios-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px dashed rgba(0,0,0,0.3);
  margin: 0.6rem 0;
}
.main-info .horarios-subinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-info .lunes {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.main-info .martes {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.main-info .miercoles {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.main-info .jueves {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
.main-info .viernes {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}
.main-info .sabado {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}
.main-info .domingo {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

@media all and (max-width: 992px) {
  .main-info {
    border-top: 1px solid #00afdb;
    border-bottom: 1px solid #00afdb;
    margin: 1rem 0;
    height: 18rem;
  }
  .main-info p {
    letter-spacing: 1px;
  }
}

// materialize medium
@media all and (min-width: 600px) and (max-width: 992px) {
  .main-info {
    // height: 16rem;
  }
}

// all devises
@media only screen and (max-width: 600px) {
  // main info
  .main-info {
    // height: 20rem;
  }
}

// materialize small
@media only screen and (min-width: 351px) and (max-width: 600px) {

}

// small phones
@media only screen and (max-width: 350px) {
  .main-info {
    margin: 3rem 0 1rem 0 !important;
  }
}
