// picture for all
.libre-pic {
  background-image: url(asset_path("nino.jpg"));
}
.bebes-pic {
  background-image: url(asset_path("nino.jpg"));
}
.ninos-pic {
  background-image: url(asset_path("nino.jpg"));
}
.jovenes-pic {
  background-image: url(asset_path("nino.jpg"));
}
.adultos-pic {
  background-color: red;
  background-image: url(asset_path("nino.jpg"));
}
.master-pic {
  background-image: url(asset_path("nino.jpg"));
}
.spinning-pic {
  background-image: url(asset_path("nino.jpg"));
}
.circuito-pic {
  background-image: url(asset_path("nino.jpg"));
}
.resortes-pic {
  background-image: url(asset_path("nino.jpg"));
}
.core-pic {
  background-image: url(asset_path("nino.jpg"));
}
.tono-pic {
  background-image: url(asset_path("nino.jpg"));
}
.RTG-pic {
  background-image: url(asset_path("nino.jpg"));
}
.hidrogimnasia-pic {
  background-image: url(asset_path("nino.jpg"));
}
.especial-pic {
  background-image: url(asset_path("nino.jpg"));
}
.mayor-pic {
  background-image: url(asset_path("nino.jpg"));
}
.pilates-pic {
  background-image: url(asset_path("nino.jpg"));
}
.reformer-pic {
  background-image: url(asset_path("nino.jpg"));
}
.yoga-pic {
  background-image: url(asset_path("nino.jpg"));
}
.corporal-pic {
  background-image: url(asset_path("nino.jpg"));
}
// .yoga .pilates {
//   background-image: url(asset_path("nino.jpg"));
// }
.masajes-pic {
  background-image: url(asset_path("nino.jpg"));
}
.stretching-pic {
  background-image: url(asset_path("nino.jpg"));
}
